<div id='map'></div>
<script>
var mapboxToken = "<%= ENV["MAPBOX_TOKEN"] %>"
mapboxgl.accessToken = mapboxToken;
var map = new mapboxgl.Map({
    container: 'map', // container id
    style: 'mapbox://styles/julyytran/cin4v8s4w0007b5nht2habg8n', //stylesheet location
    center: [-105.016185, 39.736985], // starting position
    zoom: 9 // starting zoom
});
</script>
