.trans-button {
  display: inline-block;
  margin-left: 5px;
}

.address-fields {
  margin-bottom: 8px;
  width: 257px;
  height: 20px;
}

.price-field {
  display: inline-block;
}

.price {
  float: left;
  width: 100px;
  height: 30px;
}

.mix {
  display: inline-block;
}
