<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title></title>
    <meta name='affordabode' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.17.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.17.0/mapbox-gl.css' rel='stylesheet' />
    <style>
        body { margin:0; padding:0; }
        #map { position:absolute; top:0; bottom:0; width:100%; }
    </style>
</head>
<body>

<div id='map'></div>
<script>
mapboxgl.accessToken = 'pk.eyJ1IjoianVseXl0cmFuIiwiYSI6ImNpbjR3ZnhhYzBjZ212b2x1YW9tY3ZkbXEifQ.GvY9zVwoB892cpsaLSUztA';
var map = new mapboxgl.Map({
    container: 'map', // container id
    style: 'mapbox://styles/julyytran/cin4v8s4w0007b5nht2habg8n', //stylesheet location
    center: [-105.016185, 39.736985], // starting position
    zoom: 9 // starting zoom
});
</script>

</body>
</html>
